<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logoNegro.png' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- swal links -->
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
    <!-- swal links -->
    {% block title %}
    {% endblock %}
    <title>Unidad Vecinal</title>
</head>

<body>
    <!-- navbar start -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="container-fluid">
                {% if request.session.correo %}
                <a class="navbar-brand" href="{% url 'index' request.session.rut %}">
                    <img src="{% static 'img/logoSinFondo.png' %}">
                </a>
                {% else %}
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logoSinFondo.png' %}">
                </a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            {% if request.session.correo %}
                            <a class="nav-link" href="{% url 'index' request.session.rut %}">Inicio</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                            {% endif %}
                        </li>
                        {% if request.session.correo %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verNoticias' %}">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verCuotas' %}">Cuota Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verEspacios' %}">Espacios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verActividades' %}">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verProyectos' %}">Proyectos</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        {% endif %}
                        {% if request.session.correo %}
                        <div>
                            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                                {% if request.session.correo %}
                                <div>
                                    <button class="dropdown-toggle btn-cerrar-sesion" type="button" id="btn_navbar"
                                        data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="btn_navbar">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'verPerfil' miembro.mie_rut %} ">Mi perfil</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'agregarProyecto' %}">Proponer Proyecto</a>
                                        </li>
                                        {% if miembro.cargo_car.car_id != 4 %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'agregarEspacios' %}">Agregar Espacios</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'agregarNoticia' %}">Agregar Noticia</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'agregarActividad' %}">Agregar Actividad</a>
                                        </li>
                                        {% endif %}
                                        {% if miembro.cargo_car.car_id == 1 or miembro.cargo_car.car_id == 3 %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'verPagos' %}">Ver Pagos</a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'verSolicitudes' miembro.mie_rut %}">Solicitudes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'verReservas' miembro.mie_rut %}">Mis Reservas</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'cerrarSesion' %}">Cerrar Sesión</a>
                                        </li>
                                    </ul>
                                </div>
                                {% else %}
                                <form class="d-flex">
                                    <a href="{% url 'login' %}" id="btn_navbar">Iniciar Sesión</a>
                                </form>
                                {% endif %}
                            </ul>
                        </div>
                        {% else %}
                        <a class="btn btn-inicio-sesion" href="{% url 'login' %}">Iniciar Sesión</a>
                        <a class="btn btn-crear-cuenta" href="{% url 'registrarMiembro' %}">Crear Cuenta</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    {% block content %}
    {% endblock %}

    <section id="footer">
        <img src="{% static 'img/wave2.png' %}" class="img-fluid">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 footer-box">
                    <p><b>REDES SOCIALES</b></p>
                    <a href="#">
                        <p><i class="bi bi-facebook"> Facebook</i></p>
                    </a>
                    <a href="#">
                        <p><i class="bi bi-instagram"> Instagram</i></p>
                    </a>
                    <a href="#">
                        <p><i class="bi bi-linkedin"> LinkedIn</i></p>
                    </a>
                </div>
                <div class="col-md-4 footer-box">
                    <img src="{% static 'img/logoSinLetras.png' %}">
                    <p>Únete a las miles de personas que ahorran tiempo y organizan sus Juntas de Vecinos con Unidad Vecinal.</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>CONTÁCTANOS</b></p>
                    <p><i class="bi bi-telephone"> +56 9 4565 3214</i></p>
                    <p><i class="bi bi-envelope"> unidadvecinal.comunicaciones@gmail.com</i></p>
                </div>
            </div>
            <div class="copyright text-center">
                &copy; 2023 UnidadVecinal. Diseñado por D.E.C.
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>