{% extends 'layouts/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/solicitudesCertificados.css' %}">
{% endblock %}

{% block title %}
<title>Mis Solicitudes</title>
{% endblock %}

{% block content %}
<section id="verSolicitudes">
    <div class="container">
        <p class="solicitudes-realizadas-title">Solicitudes Realizadas</p>
        <div class="card-ver-solicitudes">
            <table class="table table-bordered" style="overflow-x: auto;">
                <thead class="table-secondary align-middle">
                    <tr>
                        <th>Nombre</th>
                        <th>Nro. Solicitud</th>
                        <th>Fecha</th>
                        <th>Certificado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitudes %}
                    <tr>
                        {% if s.sol_cer_familiar %}
                            {% for f in familiares %}
                                {% if s.sol_cer_rut_familiar == f.fam_mie_rut %}
                                <td>{{ f.fam_mie_nombre }} {{ f.fam_mie_ap_paterno }}</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>{{ s.miembro_mie.mie_nombre|title }} {{ s.miembro_mie.mie_ap_paterno|title }}</td>
                        {% endif %}
                        <td>{{ s.sol_cer_id }}</td>
                        <td>{{ s.sol_cer_fecha }}</td>
                        <td>{{ s.certificado_cer.cer_nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}