{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<!-- home section -->
<section id="home">
    <div class="content">
        <h3>Bienvenido <br> {{ miembro.mie_nombre }} {{ miembro.mie_ap_paterno }}<br> a la Aplicación Web <br> de tu
            Junta de Vecinos</h3>
    </div>
</section>
<!-- home section -->

{% if miembro.mie_firma == null and miembro.cargo_car.car_id == 1 %}
<div class="fixed-bottom mb-2 mx-2">
    <a href="/firma" class="btn btn-primary position-absolute bottom-0 end-0">
        Registra tu firma<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
    </a>
</div>
{% endif %}



<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-light mt-3" style="max-width: 30rem;">
                <div class="card-header text-white" style="background-color: #0B558A;">Certificados</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>
                                <h4 class="text-primary">Certificado de Residencia</h4>
                            </td>
                            <td><a href="{% url 'obtenerCertificado' miembro.mie_rut 1 %}" class="btn btn-outline-primary rounded-pill">Obtener</a></td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="text-primary">Certificado de Socio</h4>
                            </td>
                            <td><a href="{% url 'obtenerCertificado' miembro.mie_rut 2 %}" class="btn btn-outline-primary rounded-pill">Obtener</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light mt-3" style="max-width: 30rem;">
                <div class="card-header text-white" style="background-color: #0B558A;">Proyectos</div>
                <div class="card-body">
                    <table class="table">
                        {% for p in proyectos %}
                        <tr>
                            <td>
                                <h4 class="text-primary">{{ p.proy_nombre }}</h4>
                            </td>
                            <td><a href="#" class="btn btn-outline-primary rounded-pill">Ver Mas</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about section -->
<div class="about" id="about">
    <div class="container">
        <div class="">
            <div class="heading"><span>{{ miembro.junta_vecinos_jun.jun_nombre|upper }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{% static 'img/SobreNosotros.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                {% if miembro.cargo_car.car_id == 4 %}
                <h3>Miembros Totales </h3>
                <h5>→ {{ miembrosRegistrados }}</h5>
                <h3>Miembros Activos</h3>
                <h5>→ {{ miembrosActivos }}</h5>
                {% else %}
                <h3>Nuevos Miembros Registrados</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Estado de cuenta</th>
                            {% if miembro.cargo_car.car_id == 1 %}
                            <th>Activar cuenta</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in miembrosDeshabilitados %}
                        <tr>
                            <td>{{ m.mie_rut }}-{{ m.mie_dv }}</td>
                            <td>{{ m.mie_nombre|title }} {{ m.mie_ap_paterno|title }}</td>
                            <td class="col-2 text-truncate" style="max-width: 150px;">{{ m.mie_correo }}</td>
                            <td>{{ m.mie_estado }}</td>
                            <th><a href="/activarCuenta/{{ m.mie_rut }}" class="btn btn-outline-primary">Activar</a></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'visualizarMiembros' %}"><button id="about-btn">Ver Todos</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- about section -->


<!-- contact -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="heading6"><span>Registra</span> a tus familiares <span>aqui!</span></div>
                <p>Puedes registrar aqui a las personas que vivan contigo y puedan ser parte de esta comunidad</p>
                <form method="POST">
                    {% if request.session.errorValidarRut %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                            aria-label="Warning:">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <div>
                            {{ request.session.errorValidarRut }}
                        </div>
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="visually-hidden-focusable" id="familiar_miembro_mie_rut" type="text"
                        value="{{ miembro.mie_rut }}" name="miembro_rut" readonly>
                    <button class="mb-3" id="contact-btn">Registrar</button>
                </form>
            </div>
            <div class="col-md-5" id="col">
                <h1>Familiares</h1>
                <table class="table table-hover table-borderless">
                    <tbody>
                        {% for fm in familiarMiembro %}
                        <tr>
                            <th class="text-white">{{ fm.fam_mie_nombre }} {{ fm.fam_mie_ap_paterno }}</td>
                            <th class="text-white text-end">{{ fm.fam_mie_parentesco }}</td>
                            <td><button class="badge rounded-pill bg-danger" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ fm.fam_mie_rut }}">Eliminar</button></td>
                            <div class="modal fade" id="staticBackdrop{{ fm.fam_mie_rut }}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #0B558A;">
                                            <h5 class="modal-title text-white" id="staticBackdropLabel">Eliminar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Esta seguro que desea eliminar a {{ fm.fam_mie_nombre }} {{
                                            fm.fam_mie_ap_paterno }} de tus familiares?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/eliminarFamiliarMiembro/{{ fm.fam_mie_rut }}"
                                                class="btn btn-danger">Eliminar</a>
                                            <button type="button" class="btn btn-outline-primary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <td><a href="{% url 'modificarFamiliarMiembro' fm.fam_mie_rut %}"><button class="badge rounded-pill bg-secondary">Modificar</button></a></td>
                            <td>
                                <div class="btn-group">
                                    <button class="badge rounded-pill bg-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Solicitar Certificado
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'obtenerCertificado' fm.fam_mie_rut 1 %}" class="dropdown-item">Cert. de Residencia</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- contact -->
{% endblock %}