{% extends 'layouts/base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block title %}
<title>Inicio</title>
{% endblock %}

{% block content %}

<section id="home-miembro">
    <div class="container">
        {% if miembro.mie_firma == null and miembro.cargo_car.car_id == 1 %}
        <div class="fixed-bottom mb-2 mx-2">
            <a href="{% url 'registraFirma' %}" class="btn btn-registro-firma end-0">
                Registra tu firma<span
                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </a>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="home-miembro-title">Bienvenido! <br> {{ miembro.mie_nombre }} {{ miembro.mie_ap_paterno }}.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'img/welcome.png' %}" class="img-home-miembro">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card-certificados">
                    <div class="card-header card-header-cert text-center">
                        <p class="card-cert-title">Certificados</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <p class="cert-title">Certificado de Residencia</p>
                                </td>
                                <td><a href="{% url 'obtenerCertificado' miembro.mie_rut 1 %}"
                                        class="btn btn-obt-cert">Obtener</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="cert-title">Certificado de Socio</p>
                                </td>
                                <td>
                                    <a href="{% url 'obtenerCertificado' miembro.mie_rut 2 %}"
                                        class="btn btn-obt-cert">Obtener</a>
                                </td>
                            </tr>
                            {% if miembro.cargo_car.car_id != 4 %}
                            <tr>
                                <td>
                                    <p class="cert-title">Certificado de Existencia de Junta de Vecinos</p>
                                </td>
                                <td>
                                    <a href="{% url 'obtenerCertificado' miembro.mie_rut 3 %}"
                                        class="btn btn-obt-cert">Obtener</a>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card-certificados">
                    <div class="card-header card-header-familiares text-center">
                        <p class="card-fam-title">Familiares</p>
                    </div>
                    <div class="card-body" style="overflow-x: auto;">
                        <table class="table">
                            <tbody>
                                {% for fm in familiarMiembro %}
                                <tr>
                                    <td class="p-fam">{{ fm.fam_mie_nombre }} {{ fm.fam_mie_ap_paterno }}</td>
                                    <td class="p-fam">{{ fm.fam_mie_parentesco }}</td>
                                    <div class="modal fade" id="staticBackdrop{{ fm.fam_mie_rut }}"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Esta seguro que desea eliminar a {{ fm.fam_mie_nombre }} {{ fm.fam_mie_ap_paterno }} de tus familiares?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="/eliminarFamiliarMiembro/{{ fm.fam_mie_rut }}" class="btn btn-danger">Eliminar</a>
                                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td>
                                        <a class="btn btn-modificar-fam" href="{% url 'modificarFamiliarMiembro' fm.fam_mie_rut %}">Modificar</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-eliminar-fam" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ fm.fam_mie_rut }}">Eliminar</button>
                                    </td>
                                    <td>
                                        <button class="btn-cert-fam dropdown-toggle" type="button" id="btn_navbar" data-bs-toggle="dropdown" aria-expanded="false">Obtener Certificado</button>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item">
                                                <a href="{% url 'obtenerCertificado' fm.fam_mie_rut 1 %}" class="dropdown-item">Cert. de Residencia</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        {% if puedeAgregarFamiliares %}
                            <a class="btn btn-agregar-fam mt-3" href="{% url 'agregarFamiliar' %}">Agregar</a>
                        {% else %}
                            <div class="p-1">
                                <p class="form-text">Solo puedes agregar 4 familiares como maximo</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% if miembro.cargo_car.car_id == 4 %}
            <div class="col-md-4">
                <div class="card-miembros-totales">
                    <div class="card-header card-header-miembros-totales text-center">
                        <p class="card-fam-title">Miembros Totales</p>
                    </div>
                    <div class="card-miembros-totales text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <h6>Miembros Totales </h6>
                                <h2>→ {{ miembrosRegistrados }}</h2>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <br>
                                <h6>Miembros Activos</h6>
                                <h2>→ {{ miembrosActivos }}</h2>
                                <br>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <div class="card-miembros-registrados">
                            <div class="card-header card-header-miembros-registrados text-center">
                                <p class="card-fam-title">Nuevos Miembros Registrados</p>
                            </div>
                            <div style="overflow-x: auto;">
                                <table class="table">
                                    <thead>
                                        <tr class="text-center">
                                            <th>RUT</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Estado de cuenta</th>
                                            {% if miembro.cargo_car.car_id == 1 %}
                                            <th>Activar cuenta</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for m in miembrosDeshabilitados %}
                                        <tr class="text-center">
                                            <td>{{ m.mie_rut }}-{{ m.mie_dv }}</td>
                                            <td>{{ m.mie_nombre|title }} {{ m.mie_ap_paterno|title }}</td>
                                            <td>{{ m.mie_correo }}</td>
                                            <td>{{ m.mie_estado }}</td>
                                            <th>
                                                <a href="/activarCuenta/{{ m.mie_rut }}"
                                                    class="btn btn-activar-cuenta">Activar</a>
                                            </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-ver-miembros" href="{% url 'visualizarMiembros' %}">Ver Todos</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if miembro.cargo_car.car_id != 4 %}
            <div class="col-md-12">
                <div class="card-enviar-correo">
                    <div class="card-header-enviar-correo text-center">
                        <p class="card-fam-title">Dar Aviso</p>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'enviarAviso' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="asunto" class="form-label">Asunto</label>
                                <input type="text" class="form-control" id="asunto" name="asunto" maxlength="50">
                            </div>
                            <div class="mb-3">
                                <label for="mensaje" class="form-label">Mensaje</label>
                                <textarea class="form-control" id="mensaje" rows="3" name="mensaje" maxlength="300"></textarea>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn-enviar-correo">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}