{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/modificarFamiliar.css' %}">
{% endblock %}

{% block title %}
<title>Modificar Familiar</title>
{% endblock %}

{% block content %}
<section id="modificar-familiar">
    <div class="container">
        <div class="text-center">
            <p class="modificar-familiar-title">Editar Datos Familiar</p>
            <div class="linea-azul"></div>
        </div>
        <div class="card-modificar-familiar">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="visually-hidden-focusable" id="familiar_miembro_mie_rut" type="text"
                        value="{{ miembro.mie_rut }}" name="miembro_rut" readonly>
                    <button class="btn btn-modificar-familiar">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}