{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
<title>Reservar Hora</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/agregarReserva.css' %}">
{% endblock %}


{% block content %}
<section id="agregar-reserva">
    <div class="container">
        <div class="card-agregar-reserva">
            <p class="agregar-reserva-title">Reservar Hora en {{ espacio.esp_nombre }}</p>
            <div class="linea-azul"></div>
            <div class="card-body">
                <img src="/media/{{ espacio.esp_imagen }}" class="img-fluid img-agregar-reserva" alt="{{ espacio.esp_nombre }}">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="inputbox mb-3">
                    <button class="btn-agregar-actividad">Reservar</button>
                </div>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Ya hiciste una reserva para este dia
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if error2 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Ya existe una reserva en este horario
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}