{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
<title>Detalle Reserva</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card border-light mt-3" style="max-width: 23rem;">
        <div class="card-header text-white" style="background-color: #0F75BD;">
            <h2 class="text-center">Detalle de Reserva</h2>
        </div>
        <div class="card-body">
            <img src="/media/{{ reserva.espacio_esp.esp_imagen }}" class="img-fluid rounded-start mt-3" alt="{{ espacio.esp_nombre }}">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Nro. Reserva: </label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{ reserva.res_id }}">
                </div>
                <label class="col-sm-4 col-form-label">Lugar: </label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{ reserva.espacio_esp.esp_nombre }}">
                </div>
                <label class="col-sm-4 col-form-label">Fecha: </label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{ reserva.res_fecha }}">
                </div>
                <label class="col-sm-4 col-form-label">Hora: </label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{ reserva.res_hora_inicio }} - {{ reserva.res_hora_fin }}">
                </div>
                <label class="col-sm-4 col-form-label">Titular Reserva: </label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{ miembro.mie_nombre }} {{ miembro.mie_ap_paterno }}">
                </div>
                <a class="text-end" href="{% url 'index' miembro.mie_rut %}">Volver a Inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}