{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
<title>Detalle Reserva</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/detalleReserva.css' %}">
{% endblock %}

{% block content %}
<section id="detalle-reserva">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card-detalle-reserva" style="max-width: 35rem;">
                <div class="card-header text-white" style="background-color: #23323D; margin-top: 50px;">
                    <h2 class="text-center">Detalle de Reserva</h2>
                </div>
                <div class="card-body">
                    <img src="/media/{{ reserva.espacio_esp.esp_imagen }}" class="img-fluid rounded-start mt-3"
                        alt="{{ espacio.esp_nombre }}">
                    <div class="row">
                        <label class="col-4 col-form-label"><br>Nro. Reserva: </label>
                        <div class="col-8">
                            <br>
                            <input type="text" readonly class="form-control-plaintext" value="{{ reserva.res_id }}">
                        </div>
                        <label class="col-4 col-form-label">Lugar: </label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext"
                                value="{{ reserva.espacio_esp.esp_nombre }}">
                        </div>
                        <label class="col-4 col-form-label">Fecha: </label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext" value="{{ reserva.res_fecha }}">
                        </div>
                        <label class="col-4 col-form-label">Hora: </label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext"
                                value="{{ reserva.res_hora_inicio }} - {{ reserva.res_hora_fin }}">
                        </div>
                        <label class="col-4 col-form-label">Titular Reserva: </label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext"
                                value="{{ miembro.mie_nombre }} {{ miembro.mie_ap_paterno }}">
                        </div>
                        <div class="text-end">
                            <a class="btn btn-volver-reserva text-end" href="javascript:history.back()">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}