{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="contenedor mx-auto" style="width: fit-content;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="max-width: 20rem;">
                <img src="{% static 'img/icon-transformed.png' %}" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Registrar Junta de Vecinos</h5>
                    <p class="card-text">Para acceder a sistema primero debes agregar tu junta de vecinos</p>
                    <a href="{% url 'registrarJuntaVecinos' %}" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="max-width: 20rem;">
                <img src="{% static 'img/logo_login.png' %}" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ingresar</h5>
                    <p class="card-text">Accede a la aplicacion de gestion de tu junta de vecinos</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesion</a>
                    <br>
                    <a href="{% url 'registrarMiembro' %}" >¿No tienes una cuenta? Registrate</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}