{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!-- home section -->
<section id="home">
    <div class="content">
        <h3>Bienvenido a la Aplicación Web <br> de tu Junta de Vecinos</h3>
        <a id="btn" class="btn" href="{% url 'registrarMiembro' %}">Registrate</a>
    </div>
</section>


<!-- home section -->

<!-- about section -->
<div class="about" id="about">
    <div class="container">
        <div class="">
            <div class="heading">Sobre <span>Nosotros</span></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{% static 'img/SobreNosotros.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Qué es Unidad Vecinal?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum minima numquam porro
                    consequuntur ipsum, nulla aliquam amet quam consequatur expedita.
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus dicta quia
                    maxime! Suscipit rerum similique non perferendis maiores rem, cumque explicabo
                    exercitationem deserunt illum in aperiam natus impedit recusandae?
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem voluptates harum,
                    quis excepturi voluptatum!
                </p>
                <button id="about-btn">Ver Más</button>
            </div>
        </div>
    </div>
</div>
<!-- about section -->


<!-- contact -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="heading6">Contactanos<span>!</span></div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, blanditiis
                    <br>ipsum dolor sit amet consectetur.
                </p>

                <input class="form-control" type="text" placeholder="Nombre"
                    aria-label="default input example"><br>
                <input class="form-control" type="email" placeholder="Correo"
                    aria-label="default input example"><br>
                <input class="form-control" type="text" placeholder="Número de Teléfono"
                    aria-label="default input example"><br>
                <button id="contact-btn">Contactar</button>
            </div>
            <div class="col-md-5" id="col">
                <h1>Información</h1>
                <p><i class="fa-regular fa-envelope"></i> Unionvecinal@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> +562-3467345</p>
                <p><i class="fa-solid fa-building-columns"></i> Santiago de Chile</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, culpa</p>
            </div>
        </div>
    </div>
</section>
<!-- contact -->

{% endblock %}

