{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<!-- form -->

<section class="form" id="form">
    <div class="heading"><span>Formulario de Registro</span></div>
    <div class="container">
        <form>
            <!--Dos Input tipo Texto en 2 columnas de 6-->
            <div class="row">
                <div class="col-md-4  mb-3">
                    <label class="form-label" for="input_name">Rut:</label>
                    <input type="text" id="input_name" class="form-control">
                </div>
                <div class="col-md-2  mb-3">
                    <label class="form-label" for="">Dv:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">-</span>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_lastname">Nombre:</label>
                    <input type="text" id="input_lastname" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_name">Apellido Paterno:</label>
                    <input type="text" id="input_name" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_lastname">Apellido Materno:</label>
                    <input type="text" id="input_lastname" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="">Teléfono:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">+56 9</span>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_name">Dirección:</label>
                    <input type="text" id="input_name" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="">Correo:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">@</span>
                        <input type="email" id="" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="fecha">Fecha de nacimiento:</label>
                    <input type="date" id="fecha" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_name">Contraseña:</label>
                    <input type="password" id="input_name" class="form-control">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="input_name">Confirmar Contraseña:</label>
                    <input type="password" id="input_name" class="form-control">
                </div>
                <div class="text-end">
                    <button type="submit" id="form-btn">Enviar</button>
                </div>
        </form>
    </div>
</section>

<!-- form -->
{% endblock %}