<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png">
    <title>Certificado Residencia</title>
    <link rel="stylesheet" href="css/estilo_cert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->

    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->

</head>

<body>
    <div class="certificado">
        <h2>Certificado de Residencia</h2>
        <br>
        <p>Don (ña). <strong>María Herrera</strong>, Presidente(a) de la Junta de Vecinos <strong>“Villa
                Independencia”</strong>,
            <br>
            de la Comuna de <strong>Puente Alto</strong>, viene a través del presente instrumento en certificar que Don
            (ña) <strong>Mario Díaz</strong>,
            <br>
            tiene Domicilio en calle <strong>Pasaje Gabriela Mistral</strong> Número <strong>983</strong>, Comuna de
            <strong>Puente Alto</strong>.
            <br>
            <br>
            Se extiende el presente certificado a petición del interesado.
        </p>
        <br>
        <div class="linea"></div>
        <br>
        <h5>María Herrera</h5>
        <p>Presidente(a)
            <br>
            Rut 14.756.123-0
            <br>
            Villa Independencia
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>