{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/registroPresidente.css' %}">
{% endblock %}

{% block title %}
<title>Registro de Presidente</title>
{% endblock %}

{% block content %}
<section id="registroPresidente">
    <div class="container">
        <p class="form-title">Registro Presidente</p>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-success">Registra a tu Junta ✓</li>
                <li class="breadcrumb-item active">Registrate</li>
                <li class="breadcrumb-item text-primary">Registra tu firma</li>
                <li class="breadcrumb-item active">⌛</li>
            </ol>
        </nav>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--Dos Input tipo Texto en 2 columnas de 6 -->
            <div class="row">
                <div class="col-md-4  mb-3">
                    {% bootstrap_field form.mie_rut %}
                </div>
                <div class="col-md-2  mb-3">
                    {% bootstrap_field form.mie_dv %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_nombre %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_ap_paterno %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_ap_materno %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_telefono %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_direccion %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_correo %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_fecha_nacimiento %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_password %}
                </div>
                <div class="col-md-6  mb-3">
                    {% bootstrap_field form.mie_password_2 %}
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="junta_vecinos_jun">Junta de vecinos</label>
                    <input type="text" id="junta_vecinos_jun" name="junta_vecinos_jun" class="form-control" readonly
                        value="{{ juntaVecinos.jun_nombre }}">
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label" for="cargo_car">Cargo</label>
                    <input type="text" id="cargo_car" name="cargo_car" class="form-control" readonly
                        value="{{ cargo.car_nombre}}">
                </div>
                <div class="mb-3" id="agregarImg">
                    <label for="input-btn">Suba una imagen de un documento a su nombre <em>(boleta de agua, luz,
                            etc.)</em></label>
                    <div id="input-archivo">
                        <p><img src="{% static 'img/icono_input.png' %}"></p>
                        <input class="form-control" type="file" name="mie_documento" id="input-btn" required>
                    </div>
                    <div id="previewImagen" class="mx-auto" style="max-width: 20rem;">
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn form-btn">Enviar</button>
                </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'scripts\registroMiembro.js' %}"></script>
{% endblock %}