#contenedor {
    margin-top: -100px;
}

.img-contenedor {
    max-width: 100%;
    height: auto;
}

.card-contenedor {
    margin: 0;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe;
    margin-bottom: 50px;
}

.btn-contenedor {
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 15px;
    background-color: #640888;
    color: #fff;
    font-weight: 600;
    margin: 2px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border: 0;
    width: 100%;
}

.btn-contenedor:hover {
    background-image: linear-gradient(to right, #0F75BD, #0F7585);
    font-weight: 600;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

