#detalle-reserva .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    margin-bottom: 50px;
}

#detalle-reserva .btn-volver-reserva {
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0F75BD, #0F7585);
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    border: none;
}

#detalle-reserva .btn-volver-reserva:hover {
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}