.card-pago-exitoso {
    margin-top: 200px;
    margin-bottom: 50px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    font-size: 20px;
    font-weight: 400;
}

#pago-exitoso .btn-pago-exitoso {
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0F75BD, #0F7585);
    color: #fff;
    font-weight: 600;
    margin: 2px;
    margin-top: 10px;
    width: fit-content;
    border: none;
}

#pago-exitoso .btn-pago-exitoso:hover {
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}