.btn-agregar-actividad {
    border: 0;
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 15px;
    background-color: #640888;
    color: #fff;
    font-weight: 600;
    margin: 2px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.btn-agregar-actividad:hover {
    background: #41049b;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

form{
    width: 60%;
    min-width: max-content;
}