.title-ver-perfil {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}

.linea-azul {
    content: '';
    background: #0F75BD;
    height: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:-20px;
    margin-bottom: 50px;
}

.container-ver-perfil {
    justify-content: center;
}

.card-ver-perfil {
    width: auto;
    text-align: center;
}

#ver-perfil .btn-ver-documento {
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0F75BD, #0F7585);
    color: #fff;
    font-weight: 600;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    border: none;
}

#ver-perfil .btn-ver-documento:hover {
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}