{% extends 'layouts/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/verCuotas.css' %}">
{% endblock %}

{% block title %}
<title>Cuotas Sociales</title>
{% endblock %}

{% block content %}
<section id="ver-cuotas">
    <div class="container">
        <p class="ver-cuotas-title">Cuotas Pagadas</p>
        <div class="card card-ver-cuotas">
            <div style="overflow-x: auto;">
                <table class="table table-bordered">
                    <thead class="table-secondary align-middle">
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Fecha de Pago</th>
                            <th>Monto</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for c in cuotas %}
                        <tr class="text-center">
                            <td>{{ c.cuo_id }}</td>
                            <td>{{ c.cuo_fecha_pago }}</td>
                            <td>{{ c.cuo_monto }}</td>
                            <td>{{ c.cuo_estado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="{% url 'procesar_pago' %}" class="btn btn-pagar">Pagar Cuota</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}