{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
<title>Espacios</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card border-light mt-3" style="max-width: 100rem;">
        <div class="card-header text-white" style="background-color: #0F75BD;">Espacios</div>
        <div class="card-body">
            {% for e in espacios %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/media/{{ e.esp_imagen }}" class="img-fluid rounded-start" alt="{{ e.esp_nombre }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ e.esp_nombre }}</h5>
                            <p class="card-text">
                                Direccion: {{ e.esp_direccion }} <br>
                                Telefono: {{ e.esp_telefono }}
                            </p>
                            <p class="card-text text-end"><a href="{% url 'agregarReserva' e.esp_id %}" class="text-muted">Reservar Hora</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}